/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-toolbar {
    --background: linear-gradient(90deg, #f7921c, #fa0205);
    
}

ion-card.list ion-card-header{
    min-height: 80px;
}

ion-card.ios.list {
    margin: 0;
    padding: 0;
}

ion-card.list ion-img{
    width: 200px;
    height: 150px;
    margin: auto;
    max-width: 100%;
}

ion-card.list ion-card-title {
    font-size: 16px;
}

ion-card.list {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* sombra suave */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

/* Efecto al hacer clic */
ion-card.list:active {
  transform: scale(0.97); /* efecto de "presión" */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* sombra más sutil al presionar */
}

#content{
    margin-top: 56px;
    margin-bottom: 56px;
}


// product.page.scss

.product-page {

  ion-card.product {
    width: 100%;
    max-width: 260px;
    margin: auto;
  }

  ion-card-title {
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
    font-size: 16px;
  }

  ion-card-content {
    font-size: 14px;
  }

  ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --min-height: 30px;
    align-items: center;
    white-space: normal;
  }

  ion-radio {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }

  ion-label {
    white-space: normal;
  }
}
